@page
@model DDSWebstore.Pages.Items.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.orderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.orderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Item.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
