@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron main" >
            <div class="container text-center"> 
                <h1>Arkansas Dept. of Disability Resident Market</h1>   
                <p> Thank you for visiting our site! These crafts were made with love 
                by the residents at our various locations across Arkansas. Your contributions
                are greatly appreciated!
                </p> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12">
                <p class="feat-items" >Featured Items</p>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-5 hidden-xs underline"> </div>
        </div>
        <div class="row">
               
        </div>
    </div>
    <div class="col-xs-2"></div>

</div>
<div class="container" style="width:85%">

<div class="row search">
   
    <div class="col-xs-12">
            <div class="search-container">
                
                <form class="navbar-form pull-right">
                    <div class="input-group pull-right">
                            <input class="form-control" type="text" name="search" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                
                    </div>
                </form>
        </div>
    </div>

</div>


<div class="row">



<div class="container" style="width:100%;padding-left:15px;">
    <div class="row" style="padding-left:15px;">
        <div class="col-sm-3" style="padding:0;">

             <div class="panel panel-primary accordion"> <!-- Panel (collapasable) -->

                 <div class="panel-heading"> <!-- Panel head -->
                         <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#categories-collapse">
                            Categories
                        </a>           
                 </div> <!-- END Panel head -->

            <div id="categories-collapse" class="panel-collapse collapse in"> <!-- Collapsable section -->

                <div class="panel-body"> <!-- Panel body -->

            <table class="categories" style="width:100%;">
                <tbody>
                    <div id="categories-collapse">
                      
                        @foreach (var tag in Model.Tags) {
                            <tr>
                            @{if (@tag == Model.Search) {
                                <td class="highlight_row">
                                    
                                        <input type="checkbox" value=@tag>
                                        <label for="category-label">@tag</label>
                                    
                                </td>
                            } else {
                                <td>
                                    
                                        <input type="checkbox" value=@tag>
                                        <label for="category-label">@tag</label>
                                    
                                </td>
                            }}
                            </tr>
                        }
                    </div>
                </tbody>
            </table>
             </div> <!-- END Panel body -->
     </div>
     </div>
     </div>
     
     
    <div class="col-sm-9">
     

        <div id="products" class="row list-group">
            @{var i = 0;}
            @foreach (var item in Model.Item) {
                <div class="item col-xs-12 col-sm-6 col-md-4" style="padding:.5em; padding-bottom:.75em;" >
                   <div class="thumbnail_parent">
                    <div class="thumbnail">
                        <img class="bounding-box item-image" 
                             p-price=@item.Price
                             p-desc="@item.Description" 
                             p-id="@item.ID" p-title="@item.Name" 
                             p-image="@item.Images[0].ImageURL"  
                             style="background-image: url(@item.Images[0].ImageURL)"
                             alt="" />
                        @foreach (var image in item.Images)
                         {
                             <p class="urls">@Html.DisplayFor(modelItem => image.ImageURL)</p>
                         }
                    </div>
                    <div class="caption">
                        <h4 class="product-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h4>
                        <p class="product-desc">@Html.DisplayFor(modelItem => item.Description)</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="price">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </p>
                                <p class="id">
                                    @Html.DisplayFor(modelItem => item.ID)
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
              
                </div>          
            }
          
     
          </div>
        </div>
    </div>
       
     
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <!--Header/Title for Modal-->
        <span class="close">&times;</span>
        <!--Body of Modal-->
        <div class="please" style="max-height:100%;">
            <div class="container-fluid modal-subcontent">
                <div class="row">
                    <div class="col-sm-7">
                        
                        <div class="thumbnail modal">
                            <img class="bounding-box modal-image"  />
                        </div>
                    
                    </div>
                    <div class="col-sm-5 modal-wrapper">
                        <div class="row">
                            <div class="col-sm-12" style="padding:0;">
                                <div class="row modal-header">
                                    <header class="modal-item-title"> </header>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="padding:0;">
                                <p class="modal-item-price"></p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <p class="modal-item-desc"></p>
                        </div>
                        
                        <div class="row">
                            <p class="modal-item-id"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-1"></div>
                    <div class="hidden-xs hidden-sm col-md-5 ">
                        <ul class="list-inline">
                        
                        </ul>
                    </div>
                    <div class="col-sm-1"></div>

                    <div class="col-sm-5">
                        <a class="btn btn-success modal-cart-button">Add to Cart</a>

                    </div>
                    
                    
                    
                </div>
            </div>

        </div>
    </div>
</div>

