@page
@model OrderConfirmModel
@{
    ViewData["Title"] = "Order Confirmed!";
}

<center>

              <tr>
                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <!-- BEGIN BODY // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                    <tbody>
                      <tr>
                        <td valign="top" class="bodyContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnTextBlockOuter">
                              <tr>
                                <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnCaptionBlockOuter">
                              <tr>
                                <td class="mcnCaptionBlockInner" valign="top">


                                  <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionBottomContent" width="false">
                                    <tbody>
                                      <tr>
                                        <td class="mcnCaptionBottomImageContent" align="left" valign="top">

                                          <img class="order-placed" alt="" src="https://image.ibb.co/iyM2jS/AI8r0HP.png" class="welcome-image" />
                                        </td>
                                      </tr>
                                      <tr>

                                      </tr>
                                    </tbody>
                                  </table>


                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnDividerBlockOuter">
                              <tr>
                                <td class="mcnDividerBlockInner" style="padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                          <span></span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            
                              <tr>
                                <td class="order-summary"><span class="order-summary--title">Order Number @Model.Order.ID Summary: <br /><hr /></span></td>
                              </tr>
                              <tr>
                                  <table>
                                    <tr>
                                      <td width="5%"></td>
                                      <td width="40%"><span class="order-detail--title">Item</span></td>
                                      <td width="10%"><span class="order-detail--title">Total</span></td> 
                                      <td width="5%"></td>
                                    </tr>
                                    @foreach(var item in Model.Item) {
                                        <tr>
                                            <td></td>
                                            <td><span>@Html.DisplayFor(modelItem => item.Name)</span></td>
                                            <td><span>@Html.DisplayFor(modelItem => item.Price)</span></td>
                                            <td></td>
                                        </tr>
                                    }
                                  </table>
                              </tr>
                              <tr>
                                <td>
                                  <div class="order-summary-container">
                                      <div class="order-summary-contact">
                                        <span>@Model.Order.Name</span>
                                        <span>@Model.Order.StreetAddress</span> 
                                        <span>@Model.Order.City, @Model.Order.State @Model.Order.Zipcode</span>
                                      </div>
                                      <div class="order-summary-total">
                                        <span>Order Total</span>
                                        <span class="dollars">@Model.Order.Price.ToString("0.00")</span>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                                 
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="questions-container">
                                    <div class="billing-questions">
                                      <span>Questions about order</span>
                                      <span>Melissa Kackley</span>
                                      <span>(123) 123-4567</span>
                                      <span>email@email.com</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="fine-print">Keep an eye out for an email confirming your order's safe delivery.</span>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>

</center>